@font-face {
  font-family: "CustomFont";
  src: url("/font.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "CustomFont", sans-serif;
}

/* Header */

.header-container {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  color: red;
  font-size: 1.3rem;
  text-decoration: none;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-3px);
  }
}

.logo:hover {
  color: red;
  text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5);
}

.header-content {
  display: flex;
  align-items: center;
}

.header-content span {
  margin-right: 10px;
}

.header-button {
  margin-right: 20px;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  background-color: red;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.header-button:hover {
  background-color: #c00;
}

.username-link {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

.username-link:hover {
  text-decoration: underline;
}

/* Login */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  color: red;
}

.login-title {
  font-size: 2rem;
}

.login-input {
  width: 300px;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid red;
  background-color: rgb(33, 32, 32);
  color: white;
}

.login-button {
  width: 150px;
  height: 40px;
  background-color: red;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #c00;
}

.error {
  padding-bottom: 25px;
}

/* Homepage */

.home-container {
  background-image: url("./background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.question {
  margin-bottom: 20px;
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mood-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 10s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mood-button {
  font-size: 1.3rem;
  margin: 10px;
  padding: 8px 16px;
  color: black;
  background-color: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.mood-button:hover {
  background-color: #c00;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.film-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 20px auto;
}

.film {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
  overflow: hidden;
}

.film:hover {
  transform: translateY(-5px);
}

.film img {
  display: block;
  max-width: 100%;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.film:hover img {
  transform: scale(1.1);
}

.film-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.film:hover .film-overlay {
  opacity: 1;
}

.film-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.film:hover .film-details {
  opacity: 1;
}

/* Registration */

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  color: red;
}

.register-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.register-input {
  width: 300px;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid red;
  background-color: rgb(33, 32, 32);
  color: white;
}

.register-button {
  width: 150px;
  height: 40px;
  background-color: red;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #c00;
}

.error {
  padding-bottom: 25px;
}

/* UpdateUsername */

.update-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  color: red;
}

.update-user-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.update-user-input {
  width: 300px;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid red;
  background-color: rgb(33, 32, 32);
  color: white;
}

.update-user-button {
  width: 150px;
  height: 40px;
  background-color: red;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.update-user-button:hover {
  background-color: #c00;
}

.error {
  padding-bottom: 25px;
}

/* UpdatePassword */

.update-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  color: red;
}

.update-password-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.update-password-input {
  width: 300px;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid red;
  background-color: rgb(33, 32, 32);
  color: white;
}

.update-password-button {
  width: 150px;
  height: 40px;
  background-color: red;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.update-password-button:hover {
  background-color: #c00;
}

.error {
  padding-bottom: 25px;
}

/* Profile */

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  color: red;
}

.profile-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.profile-buttons {
  display: flex;
}

.profile-button {
  width: 200px;
  height: 40px;
  margin: 10px;
  margin-bottom: 10px;
  background-color: red;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}

.profile-button:hover {
  background-color: #c00;
}

.header-button,
.login-button,
.register-button,
.update-user-button,
.update-password-button,
.profile-button,
.mood-button {
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.header-button:hover,
.login-button:hover,
.register-button:hover,
.update-user-button:hover,
.update-password-button:hover,
.profile-button:hover,
.mood-button:hover {
  background-color: #c00;
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}
